<%- include('partials/header'); -%>

<header>
  <div class="product">
    <h1>Utkarsh Singh RA1711003020765 Login Portal</h1>
  </div>
  <div class="headings">
    <h2>Hi</h2>
    <h3>Tickled Full Stack</h3>
    <a href="/product" class="btn">Private Route</a>
  </div>
</header>


<%- include('partials/footer'); -%>